We import the required python library for the homework below. Note that we have imported a python file(myFunction) that contains some functions we defined ourselves. Those functions will be explained in the appropriate palces before it is to be used in the document.

In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib as mpl
mpl.use('TkAgg')
import bokeh
#####
import myFunction # the function  has been defined by us
####
import seaborn as sns 
%load_ext autoreload
%autoreload 2

# Import Data and  View the shape of data
We imported the data and verify its shape  as afirst step in exploratory analysis of the data. We also provide a quick look of the first few rows of the data set. With this we get  a first hand visualization of the  data set.

In [3]:
RawData_CrowdstormingDataJuly1st = pd.read_csv('CrowdstormingDataJuly1st.csv')
print("Data Shape is: "  + str(RawData_CrowdstormingDataJuly1st.shape)) # we use  str to convert tuple to string.
RawData_CrowdstormingDataJuly1st.head()

Data Shape is: (146028, 28)

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002

# Get Summary of Statistics About Data
We provide a quick  summary of statistics about the data set. From this view we observe tha Nan is present in our data set and we have to do some cleaning. We also note that columns of  data type  object  (categorical variables)  were not reported here. We will deal with this as we go on.

In [6]:
RawData_CrowdstormingDataJuly1st.describe()

//anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,height,weight,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,rater1,rater2,refNum,refCountry,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
count,145765.000000,143785.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,124621.000000,124621.000000,146028.000000,146028.000000,145865.000000,1.458650e+05,1.458650e+05,145865.000000,1.458650e+05,145865.000000
mean,181.935938,76.075662,2.921166,1.278344,0.708241,0.934581,0.338058,0.385364,0.011381,0.012559,0.264255,0.302862,1534.827444,29.642842,0.346276,1.969741e+04,6.310849e-04,0.452026,2.044023e+04,0.002994
std,6.738726,7.140906,3.413633,1.790725,1.116793,1.383059,0.906481,0.795333,0.107931,0.112889,0.295382,0.293020,918.736625,27.496189,0.032246,1.271262e+05,4.735857e-03,0.217469,1.306157e+05,0.019723
min,161.000000,54.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,-0.047254,2.000000e+00,2.235373e-07,-1.375000,2.000000e+00,0.000001
25%,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,641.000000,7.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1604.000000,21.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,3.000000,2.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,NaN,NaN,2345.000000,44.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,203.000000,100.000000,47.000000,29.000000,14.000000,18.000000,23.000000,14.000000,3.000000,2.000000,1.000000,1.000000,3147.000000,161.000000,0.573793,1.975803e+06,2.862871e-01,1.800000,2.029548e+06,1.060660

# Dealing with NaN

We make a copy of the Raw_CrowdstormingDataJuly1st as CrowdstormingDataJuly1st.
With this we aim to leave the Raw_CrowdstormingDataJuly1st as default and continue preprocessing on CrowdstormingDataJuly1st. This division is mainly to enable us have one data set as default and the other as preprocessed one. This might be useful for comparison and analytical reasons.

In [25]:
# Next we make a copy of the data set. The new copy will be processed to remove Nan
CrowdstormingDataJuly1st = RawData_CrowdstormingDataJuly1st.copy()

To deal with Nan we have to know where the Nan are in the data set.
Below, we have a summary number of Nans present in each column. As we observe some columns have Nan while others don't. 
This step is important because it helps us us identify columns with Nan. Such columns will be filled with appropriate value to replace the NAn.

In [26]:
CrowdstormingDataJuly1st.isnull().sum()

playerShort          0
player               0
club                 0
leagueCountry        0
birthday             0
height             263
weight            2243
position         17726
games                0
victories            0
ties                 0
defeats              0
goals                0
yellowCards          0
yellowReds           0
redCards             0
photoID          21407
rater1           21407
rater2           21407
refNum               0
refCountry           0
Alpha_3              1
meanIAT            163
nIAT               163
seIAT              163
meanExp            163
nExp               163
seExp              163
dtype: int64

Since we now know which column has Nan. We need the data types of the column to be able to know with which values such Nan will be replaced. Below is the list of the columns present and their data types. In this observe int,float and column data types.

In [27]:
CrowdstormingDataJuly1st.dtypes

playerShort       object
player            object
club              object
leagueCountry     object
birthday          object
height           float64
weight           float64
position          object
games              int64
victories          int64
ties               int64
defeats            int64
goals              int64
yellowCards        int64
yellowReds         int64
redCards           int64
photoID           object
rater1           float64
rater2           float64
refNum             int64
refCountry         int64
Alpha_3           object
meanIAT          float64
nIAT             float64
seIAT            float64
meanExp          float64
nExp             float64
seExp            float64
dtype: object

For columns of Object data type having Nan in its values we replace the Nan with "Unknown" and convert such column to string data type. This is to facilitate encoding them. In particular converting to string  will enable  viewing multiple string  column values ("Attacking MidFielder") as one lexical word. This is important since the encoder-which we define later- now has to enode "Attacking MidFielder" as single semantic world but not "Attacking" and "MidFielder" as separate lexical entities.

In [28]:
#We change the null value present in the three datatypes below to Unknown

CrowdstormingDataJuly1st.position.fillna("Unknown",inplace=True)
CrowdstormingDataJuly1st.photoID.fillna("Unknown",inplace=True)
CrowdstormingDataJuly1st.Alpha_3.fillna("Unknown",inplace=True)

In [29]:
#We cast the data types to string to enable using label encoder

CrowdstormingDataJuly1st['position'] = CrowdstormingDataJuly1st['position'].astype('str') 
CrowdstormingDataJuly1st['photoID'] = CrowdstormingDataJuly1st['position'].astype('str') 
CrowdstormingDataJuly1st['Alpha_3'] = CrowdstormingDataJuly1st['position'].astype('str')

We then proceed to  replace Nan present in rater1 and rater 2 with  a distinctive value -1. We think this is a better choice than averaging or using the median. This is because -1 becomes a separate value on it own. We can with that identify columns that are not identifiable rather than introducing bias

In [30]:
#fill rater1 and rater2 with -1 where Nan occurs. 
#Zero Already appears in the rating so that using zero wont be a good choice

CrowdstormingDataJuly1st.rater1.fillna(-1, inplace=True)
CrowdstormingDataJuly1st.rater2.fillna(-1, inplace=True)

# Encoding Categorical Variables

In other to use our data set with the RandomForest Classifier we have to encode the categorical variables present in the data set (These are the columns of data type object).Encoding basically gives each categorical value in the affected column(column with data type object) a unique identification number. This number is a reference to the object value it represent in the affected column. In this part of the of the homework, we provide provided step by step guide on how to do this. For Example "Attacking MidFielder" in the position column can be encoded as 1.

Below we collect all columns of object datatype from our data set below in CrowdstormingDataJuly1st_object_columns. The aim of this is be able to encode such columns at once. Sklearn as yet does not provide such functionality

In [31]:
CrowdstormingDataJuly1st_object_columns = CrowdstormingDataJuly1st.iloc[:, :].select_dtypes(include=['object']).columns

We defined  myFunction.MultiColumnLabelEncoder which  effectively Wraps sklearn LabelEncoder functionality(for encoding categorical variables) for use on multiple columns  of our data set. The multiple columns are those which were extracted above. As can be observed we parsed all such columns into myFunction.MultiColumnLabelEncoder.

In [32]:
#create an instance of MultiColumnLabelEncoder and Pass the columns extracted to it
ColumnObjectEncoder = myFunction.MultiColumnLabelEncoder(columns=CrowdstormingDataJuly1st_object_columns )

 The fit method of myFunction.MultiColumnLabelEncoder accesses individual column of our dataset via indexing. This effectively returns the columns of our data set which are of type object.

In [33]:
ColumnObjectEncoder.fit(CrowdstormingDataJuly1st)

MultiColumnLabelEncoder(columns=Index(['playerShort', 'player', 'club', 'leagueCountry', 'birthday',
       'position', 'photoID', 'Alpha_3'],
      dtype='object'))

We transform the columns of  object data type to encoded labels. This we do by calling ColumnObjectEncoder.transform.

In [34]:
# Finally transform 
ColumnObjectEncoder.transform(CrowdstormingDataJuly1st)

array([[1185, 1341,   82, ...,    0,    0,    0],
       [ 966, 1158,   62, ...,   11,   11,   11],
       [   5,    0,   73, ...,   12,   12,   12],
       ...,
       [2007, 1982,   15, ...,    7,    7,    7],
       [2020, 1992,  111, ...,    8,    8,    8],
       [2039, 2011,    1, ...,    9,    9,    9]])

# Machine Learning Data Preparation
For the Random Forest Classifier we  convert our data set to array  and use one of rater1 and rater2 as our target variables.

First We will like to know the unique values present in our target variable. As can be observed we introduced -1 which shows up below. In addition this will be multiclass classification since more than 2 values was returned. In addition rater1 and rater2 have same unique values so it might be safe to use one of the two as target variable.

In [35]:

print(CrowdstormingDataJuly1st.rater1.unique())
CrowdstormingDataJuly1st.rater2.unique()

[ 0.25  0.75 -1.    0.    1.    0.5 ]

array([ 0.5 ,  0.75, -1.  ,  0.  ,  0.25,  1.  ])

We extract rater1 and rater2 from the dataset and store them as an array called  TargetVAriableRater. We have to do this conversion to array to be able to use it as target variable in for Random forest classification.

In [36]:
TargetVAriableRater = CrowdstormingDataJuly1st[['rater1','rater2']]
TargetVAriableRater = TargetVAriableRater.iloc[: , : ].values
TargetVAriableRater.shape

(146028, 2)

We drop the rater1 and rater2 from our remaining dataset since we have extrated it separately as shown above for use as target. Leaving the rater1 and rater2 in the data set will introduce some bias. In addition we output the shape of the remaining dataset.
We store the dataset from which rater1 and rater2 hve been removed as an array called CrowdstormingDataJuly1st_Array. We have to do this conversion to array to be able to use in for Random forest classification.

In [37]:
CrowdstormingDataJuly1st.drop(['rater1','rater2'], axis=1,inplace='True')
CrowdstormingDataJuly1st_Array = CrowdstormingDataJuly1st.iloc[: , : ].values
CrowdstormingDataJuly1st_Array.shape

(146028, 26)

# Random Forest Classifier

We  Split the Arrays generated from above  into train - test with 80 for train set and 20% for test. This enables us to train with the train sets and test with the test sets.

In [53]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(CrowdstormingDataJuly1st_Array,TargetVAriableRater , train_size=0.8, random_state=42)

The targets y _train and y_test contains rater1 and rater2. We seperate those into y_train_first/y_test_first for rater1 and y_train_second/y_test_second for rater 2. We will use one of the two in our model.

In [54]:
y_train_first = y_train[:,0]
y_train_second = y_train[:,1]
y_test_first = y_test[:,0]
y_test_second = y_test[:,0]

Here we Import RandomForestClassifier and set an instance of it as RandomForestClassifier  . Note that the default uses Gini as  criterion in the classification.

In [46]:
from sklearn.ensemble import RandomForestClassifier
ForestClassifier = RandomForestClassifier(n_estimators=100)

In other to use the y_tain in the ForestClassifier we have to convert to string type. This we have done below. We have also replaced all other Nan values present in X_train the with Zero. We replaced with zero so as to avoid inducing bias in the classification.

In [59]:
y_train_first = np.asarray(y_train_first, dtype="|S6")
X_train[np.isnan(X_train)]=0.0

We train our the ForestClassifier on the training sets ( y_train , x_train)

In [49]:
ForestClassifier.fit(X_train,y_train_first)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

#  Predictions And Accuracy Score

Having trained the ForestClassifier lets save some predictions using the X_test set. But before we do that we convert all Nan present in X_test  to  zero as we did for the X_train. Note that y_test_pred is now the prediction our trianed model made when X_test was passed to it

In [50]:
X_test[np.isnan(X_test)]=0
y_test_pred= ForestClassifier.predict(X_test)

We now have to test the accuracy of the prediction our model as made.This we do by comparing the y_test (from the data set) and the predicted values generated from X_test when it is parsed to the model. But we still need to convert the both y_test_first and y_test_pred to

In [55]:
from sklearn.metrics import accuracy_score
y_test_first = np.asarray(y_test_first, dtype="|S6")
#y_test_pred = np.asarray(y_test_first, dtype="|S6")
accuracy_score(y_test_first, y_test_pred , normalize=True)

0.99863041840717659

With 0.99 accuracy score as above its obvious that the model is overfitting. Especially the test set is just too small so this explains the tendency for our model to overfit

# Feature Selection Part

We import RamdomForest do feature extraction using our ForestClassifeier. We get as our output the columns of the data ser listed in order of importance. This is important so we can know which column actually plays a role in the classification process. We colected the column names in Feature_name and map them to their score as shown below.

In [57]:

Feature_name = CrowdstormingDataJuly1st.columns # Get Column Headings of our Dataframe

print((sorted(zip(map(lambda value: round(value, 4), ForestClassifier.feature_importances_), Feature_name), 
             reverse=True)))

[(0.12839999999999999, 'player'), (0.12809999999999999, 'birthday'), (0.127, 'club'), (0.124, 'playerShort'), (0.11119999999999999, 'weight'), (0.1074, 'height'), (0.052299999999999999, 'photoID'), (0.049599999999999998, 'Alpha_3'), (0.049399999999999999, 'position'), (0.046800000000000001, 'leagueCountry'), (0.0146, 'meanIAT'), (0.0074999999999999997, 'meanExp'), (0.0066, 'nIAT'), (0.0066, 'nExp'), (0.0058999999999999999, 'seExp'), (0.0058999999999999999, 'refCountry'), (0.0054999999999999997, 'seIAT'), (0.0051999999999999998, 'games'), (0.0048999999999999998, 'refNum'), (0.0040000000000000001, 'victories'), (0.0025000000000000001, 'defeats'), (0.0023999999999999998, 'goals'), (0.002, 'ties'), (0.0018, 'yellowCards'), (0.00020000000000000001, 'redCards'), (0.0001, 'yellowReds')]

The coding below is just the same thing as above. The only thing that changed is that we use y_train_second (which  contains value for rater2)to train the classifier now. This is to show that both gives almost same result when it comes to importance of feature. Note that as usual we convert the y_train_second to string before parsing it to our classifier.

In [62]:
y_train_second = np.asarray(y_train_second, dtype="|S6")

ForestClassifier.fit(X_train, y_train_second) 

print((sorted(zip(map(lambda x: round(x, 4), ForestClassifier.feature_importances_), 
                  Feature_name),reverse=True)))

[(0.13450000000000001, 'birthday'), (0.12790000000000001, 'player'), (0.1225, 'playerShort'), (0.121, 'club'), (0.11169999999999999, 'weight'), (0.1056, 'height'), (0.053400000000000003, 'position'), (0.051999999999999998, 'Alpha_3'), (0.050999999999999997, 'photoID'), (0.041700000000000001, 'leagueCountry'), (0.0147, 'meanIAT'), (0.0086, 'meanExp'), (0.0064999999999999997, 'refCountry'), (0.0063, 'nExp'), (0.0061000000000000004, 'nIAT'), (0.0060000000000000001, 'seIAT'), (0.0054000000000000003, 'seExp'), (0.0053, 'refNum'), (0.0053, 'games'), (0.0044000000000000003, 'victories'), (0.0027000000000000001, 'goals'), (0.0027000000000000001, 'defeats'), (0.0022000000000000001, 'ties'), (0.0019, 'yellowCards'), (0.00020000000000000001, 'yellowReds'), (0.00020000000000000001, 'redCards')]

# RANDOMFOREST classifier and Effect of Parameters.

The main parameters to adjust when using the RandomForest Classifier  is "n_estimators" and "max_features". 

The former is the number of trees in the forest. The larger the better, but also the longer it will take to compute. In addition,  the results will stop getting significantly better beyond a critical number of trees. 

The latter is the size of the random subsets of features to consider when splitting a node. The lower the greater the reduction of variance, but also the greater the increase in bias. 

Empirical good default values are  max_features=sqrt(n_features) for classification tasks.

Below we  generate various RandomForest classifier each having different parameters. The aim is to show how different parameters passed to the Classifier affect the overfitting issue

In [72]:
ForestClassifierWithMaxFeatures = RandomForestClassifier(n_estimators=100,max_features = np.sqrt(len(Feature_name)) )
ForestClassifierFewN_Estimators = RandomForestClassifier(n_estimators=10 )
ForestClassifierFewN_Features = RandomForestClassifier(max_features=5)
ForestClassifierFewTreesAndEstimators = RandomForestClassifier(n_estimators=5,max_features=5)
ForestClassifierWithMoreEstimators = RandomForestClassifier(n_estimators=200,max_features = np.sqrt(len(Feature_name)) )
ForestClassifierFewFullFeatures = RandomForestClassifier(n_estimators=200,max_features=len(Feature_name))

TO DO:

    Use cross validation to give accuracy score of each of the models above